header{
  background-color: blueviolet;
  padding: 15px;
  color: white;
}

.movie-card{
  position: relative;
  border: 3px, solid, rgb(123, 18, 221);
}

img{
  width: 100%;
  object-fit: contain;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  color: white;
  opacity: 0.8;
}
  