header {
  background-color: rgb(37, 1, 71);
  padding: 15px;
  color: white;
}

main {
  /* background-color: blueviolet; */
  background-image: linear-gradient(
    to top,
    rgb(146, 70, 218),
    rgb(74, 12, 131)
  );
  font-family: "Roboto", sans-serif;
}

.home {
  text-decoration: none;
  padding: 10px;
  font-size: 2em;
}

.logo img {
  width: 60px;
}
.c-violet {
  color: rgb(37, 1, 71);
}

.bg-violet {
  background-color: rgb(37, 1, 71);
}

.movie-card {
  height: 450px;
  position: relative;
  border: 3px, solid, rgb(37, 1, 71);
  overflow: hidden;
  box-shadow: 5px 5px 15px black;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(37, 1, 71);
  color: white;
  opacity: 0;
  transition: 1s;
}

.movie-card:hover .overlay {
  opacity: 0.9;
  cursor: pointer;
}

.detail-card img {
  width: 300px;
}

.detail-card {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  background-color: rgb(37, 1, 71);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

.review-card {
  background-color: rgb(37, 1, 71);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.loader-overlay .spinner-border {
  width: 200px;
  height: 200px;
  color: blueviolet;
  font-size: 80px;
}
